
<!--<div class="full-width" [style.display]="'flex'" [style.justify-content]="'space-around'">
    <app-room-canvas [room]="room" ></app-room-canvas>
</div>

<hr/> -->

<h4 class="mat-h4"><b>General properties</b></h4>


<mat-form-field class="full-width">
    <input matInput placeholder="Exhibition" [value]="room._belongsTo.name" disabled>
</mat-form-field>

<mat-form-field class="full-width">
    <input matInput placeholder="Room name" [(ngModel)]="room.text">
</mat-form-field>

<mat-form-field class="full-width">
    <mat-select placeholder="Floor (Texture)" [(ngModel)]="room.floor">
        <mat-option *ngFor="let texture of textures" [value]="texture">
            {{texture}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="full-width">
    <mat-select placeholder="Ceiling (Texture)" [(ngModel)]="room.ceiling">
        <mat-option *ngFor="let texture of textures" [value]="texture">
            {{texture}}
        </mat-option>
    </mat-select>
</mat-form-field>

<h4 class="mat-h4"><b>Room geometry</b></h4>

<app-vector3f-input [vector]="room.position" [name]="'Position'"></app-vector3f-input>

<mat-form-field class="full-width">
  <input matInput placeholder="Height" [(ngModel)]="room.height">
</mat-form-field>



<h4 class="mat-h4">Ceiling scale: {{room.ceiling_scale}} </h4>
<mat-slider id="ceiling-scaling-slider" thumbLabel tickInterval="1" min="0" max="5" step="0.1" [(ngModel)]="room.ceiling_scale" ></mat-slider>
