
<!--<div class="full-width" [style.display]="'flex'" [style.justify-content]="'space-around'">
    <app-corridor-canvas [corridor]="corridor" ></app-corridor-canvas>
</div>-->

<hr/>

<h4 class="mat-h4"><b>General properties</b></h4>


<mat-form-field class="full-width">
    <input matInput placeholder="Exhibition" [value]="corridor._belongsTo.name" disabled>
</mat-form-field>

<mat-form-field class="full-width">
    <input matInput placeholder="Corridor name" [(ngModel)]="corridor.text">
</mat-form-field>

<mat-form-field class="full-width">
    <mat-select placeholder="Floor (Texture)" [(ngModel)]="corridor.floor">
        <mat-option *ngFor="let texture of textures" [value]="texture">
            {{texture}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="full-width">
    <mat-select placeholder="Ceiling (Texture)" [(ngModel)]="corridor.ceiling">
        <mat-option *ngFor="let texture of textures" [value]="texture">
            {{texture}}
        </mat-option>
    </mat-select>
</mat-form-field>

<h4 class="mat-h4"><b>Corridor geometry</b></h4>

<app-vector3f-input [vector]="corridor.position" [name]="'Position'"></app-vector3f-input>

<app-vector3f-input [vector]="corridor.size" [name]="'Size'" [labels]="['Width', 'Height', 'Depth']"></app-vector3f-input>

<h4 class="mat-h4"><b>Entrypoint</b></h4>
<app-vector3f-input [vector]="corridor.entrypoint" [name]="'Entrypoint'" [show]="[true, false, true]" [labels]="['Entrypoint (x)', null, 'Entrypoint (y)']"></app-vector3f-input>

<h4 class="mat-h4"><b>Rooms to connect</b></h4>

<mat-form-field class="full-width">
  <mat-select placeholder="Room 1" [(ngModel)]="corridor.connects[0]">
    <mat-option *ngFor="let room of this._editor.current.rooms" [value]="room">
      {{room.text}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width">
  <mat-select placeholder="Room 2" [(ngModel)]="corridor.connects[1]">
    <mat-option *ngFor="let room of this._editor.current.rooms" [value]="room">
      {{room.text}}
    </mat-option>
  </mat-select>
</mat-form-field>
