#surfaceCanvas{
  position: relative;
  border: 1px solid red;
  cursor: pointer;
}


#canvasDrawing {
  float: left;
  width: 50%;
  height: 100%;
}

.canvas-content {
  margin: 10px 0 10px 0;
}

header {
  margin-bottom: 0;
}

#mouse-position {
  float: left;
  position: relative;
  margin: 25px 10px 10px 0px;
}

#clear-button {
  position: relative;
  margin: auto;
}

#ceiling-scale {
  float: left;
  position: relative;
  margin: 12px 10px 10px 0px;
}

#ceiling-scaling-slider {
  position: relative;
  width: 250px;
  margin: auto;
}







