#surfaceCanvas{
  position: relative;
  border: 1px solid red;
  cursor: pointer;
}


#canvasDrawing {
  float: left;
  width: 50%;
  height: 100%;
}

.canvas-content {
  margin: 10px 0 10px 0;
}

header {
  margin-bottom: 0;
}

#mouse-position {
  float: left;
  position: center;
  margin: 10px 1px 1px 1px;
}

#clear-button {
  position: center;
  margin: 1px 1px 1px 1px;
}







