<h2 mat-dialog-title>Create Room</h2>

<mat-dialog-content id="drawing-content">
  <mat-tab-group>
    <mat-tab label="Floor">
      <div>
        <canvas #floorCanvas width="400px" height="200px" (click)="onClick()"></canvas>
      </div>
      <div>
        <button>clear</button>
      </div>
    </mat-tab>
    <mat-tab label="Ceiling">
      <div>
        <canvas #ceilingCanvas width="400px" height="200px" (click)="onClick()"></canvas>
      </div>
      <div>
        <button>clear</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-content id="room-properties-content">
  <mat-form-field class="full-width">
    <input matInput placeholder="Room name" [(ngModel)]="data.text">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Floor (Texture)" [(ngModel)]="data.floor">
      <mat-option *ngFor="let texture of _textures" [value]="texture">
        {{texture}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Ceiling (Texture)" [(ngModel)]="data.ceiling">
      <mat-option *ngFor="let texture of _textures" [value]="texture">
        {{texture}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4 class="mat-h4">Room geometry</h4>

  <app-vector3f-input [vector]="data.position" [name]="'Position'"></app-vector3f-input>

  <app-vector3f-input [vector]="data.size" [name]="'Size'" [labels]="['Width', 'Height', 'Depth']"></app-vector3f-input>

  <h4 class="mat-h4">Entrypoint</h4>
  <app-vector3f-input [vector]="data.entrypoint" [name]="'Entrypoint'" [show]="[true, false, true]" [labels]="['Entrypoint (x)', null, 'Entrypoint (y)']"></app-vector3f-input>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
