<h2 mat-dialog-title id="header">Create Room:
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="data.Room.text">
  </mat-form-field>
</h2>

<mat-dialog-content>

  <mat-dialog-content id="drawing-content">
    <mat-tab-group>
      <mat-tab label="Surface">

        <mat-dialog-content class="canvas-content" id="canvasDrawing">
          <canvas (mousedown)="drawSurface($event)" (mousemove)="coordsOnMove($event)" id="surfaceCanvas" #surfaceCanvas width="500" height="500"></canvas>
        </mat-dialog-content>


        <mat-dialog-content class="canvas-content" id="canvasProperties">
          <mat-dialog-content>
            <p id="mouse-position">Mouse position X: {{ this.mouse_move_x}} Y: {{ this.mouse_move_y}}</p>

            <mat-dialog-actions id="clear-button">
              <button mat-raised-button (click)="clearCanvas()">clear</button>
            </mat-dialog-actions>

            <p id="ceiling-scale">Ceiling scale: </p>
            <mat-slider id="ceiling-scaling-slider" thumbLabel tickInterval="1" min="0" max="5" [(ngModel)]="data.Room.ceiling_scale"></mat-slider>

          </mat-dialog-content>

          <mat-list style="overflow: auto">
            <mat-list-item *ngFor="let coordinate of data.Coordinates"> ({{coordinate.x}},{{coordinate.y}}) </mat-list-item>
          </mat-list>
        </mat-dialog-content>

      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>

  <mat-dialog-content id="room-properties-content">
    <mat-form-field class="full-width">
      <input matInput placeholder="Room name" [(ngModel)]="data.Room.text">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="Floor (Texture)" [(ngModel)]="data.Room.floor">
        <mat-option *ngFor="let texture of _textures" [value]="texture">
          {{texture}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="Ceiling (Texture)" [(ngModel)]="data.Room.ceiling">
        <mat-option *ngFor="let texture of _textures" [value]="texture">
          {{texture}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4 class="mat-h4">Room geometry</h4>

    <app-vector3f-input [vector]="data.Room.position" [name]="'Position'"></app-vector3f-input>

    <mat-form-field class="full-width">
      <input matInput placeholder="Height" [(ngModel)]="data.Room.height">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </mat-dialog-actions>

</mat-dialog-content>
